spring:
  datasource:
    url: 'jdbc:postgresql://localhost:5432/open-weather'
    username: postgres
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
open-weather-api:
  cities: London, Birmingham, Edinburgh
  url: 'https://api.openweathermap.org/data/2.5/forecast'
  apiKey: 'aec19c53bc3f9844e808d67abf24f82f'