html, body {
  background: rgb(9,40,43);
  background: linear-gradient(90deg, rgba(9,40,43,0.8295693277310925) 0%, rgba(78,168,185,1) 32%, rgba(221,211,94,1) 55%, rgba(255,145,0,1) 70%);
}

.input-group.with-icon>input::-ms-clear{display:none}


.input-group.with-icon>i {
  transform: translateY(-50%);
  pointer-events: none;
  position: absolute;
  z-index: 3;
  top: 50%;
  right: .7rem;
}
.input-group.with-icon>input {
padding-right: 1.7rem;
border-color: #bfbcce88;
}

.left-icon {
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
  top: 50%;
  left: .7rem;
}

.weather-icon {
  transform: translateY(30%);
  top: 50%;
  left: .7rem;
  margin: 0 0.7rem 0 1rem;
}

.country-select {
  transform: translateY(30%);
  width: 4rem;
  margin: 0 1rem 0 0.6rem;
  
}

.div-starter {
  border-radius: 15px;
  display: flex; 
  flex-direction: row; 
  background-color: #ffffff;
  padding: 1rem 2.4rem 1rem 1.4rem;
}

.temp-number {
    font-size: 6.6rem;
    font-weight: bold;
    color: #fff;
}

.temp-holder {
  color: 		#312f36;
  margin-top: 1rem; 
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temp-period {
  margin: 1rem 0 4rem 0;
  font-size: 0.8rem;
  font-weight: 500;
}

.temp-card {
  margin: 0 2rem 0 1.7rem; 
  text-align: center;
}

.temp-card-holder{
  margin-top: 6rem; 
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0 0 0;
}

.temp-card-day {
  font-size: 0.6rem;
  color: 		#312f36;
  font-weight: 500;
}

.temp-card-number {
  font-size: 1.2rem;
  color: 		#fff;
  font-weight: 500;
}
